*{
  font-family: 'Rubik', sans-serif;
}

span{
  font-weight: bold;
  font-size: 40px;
}

#plotTwistText{
  font-size: 10px;
}

.subscriber-count-race {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  font-size: 32px;
}
.race-container {
  text-align: center;
}
.race-title {
  font-weight: bold;
  margin-bottom: 20px;
}
.race-number {
  font-size: 72px;
  font-weight: bold;
  color: green;
}

